/* Test */
.container {
    /* inline-block display allows centering with text-align */
    text-align: center;
}

.progress-bar-row {
    /* removes spaces so horiz lines touch icons */
    font-size: 0px;
    margin-top: 40px;
}

.progress-bar-item  {
    /* using a display of inline-block for this solution, instead of table */
    display: inline-block;
    /* center vertically */
    vertical-align: middle;
}

.line-connector {
    border-bottom: 4px solid #000000;
    /* viewport width units */
    width: 9vw;
}

.fa {
    font-size: 75px;
}

@media screen and (max-width: 768px) {
    .line-connector {

    }
}